<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to deliver personalized ads and improve your app experience</string>
	<key>CFBundleDisplayName</key>
	<string>О! Прямые продажи</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>О! Прямые продажи</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to use a camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to save images.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access to provide personalized services based on your location.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to allow sharing and communication with friends.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires Bluetooth access to communicate with external devices.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to record audio for messages.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app requires access to your health data to track and monitor your fitness.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app requires permission to update your health data to maintain accurate records of your activity.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>To unlock the application by Face ID</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>$(LAUNCHSCREEN_NAME)</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
