MARKETING_VERSION=3.2.35
CURRENT_PROJECT_VERSION=1

DEVELOPMENT_TEAM=N69KBA6P8A
CODE_SIGN_STYLE=Automatic
GENERATE_INFOPLIST_FILE=NO
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
LAUNCHSCREEN_NAME=LaunchScreen
LD_RUNPATH_SEARCH_PATHS=$(inherited) @executable_path/Frameworks
SWIFT_EMIT_LOC_STRINGS=NO
